html {
    background-color: #fff;
    color: #949fff;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

header {
    border-bottom: 1px solid #e6f4f1;
    text-align: center;
}

main {
    border-bottom: 1px solid #e6f4f1;
    position: relative;
}

footer {
    background-color: #fff;
    border-bottom: 1px solid #e6f4f1;
    text-align: center;
}

p {
    font-size: 200%;
    text-align: center;
    border-bottom: 1px solid #fff;
    height: 200px;
}

ul {
    padding: 0;
    border-top: 1px solid #e6f4f1;
    display: flex;
    text-align: center;
    justify-content: right;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
}

li {
    list-style-type: none;
    border: 1px solid #e6f4f1;
    background-color: #FFF;
    display: flex;
    text-align: center;
    justify-content: center;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #e6f4f1;
    color: #fff;
}

input,
textarea {
    margin: 3%;
    width: 95%;
    font-size: 80%;
    box-shadow: 3px 3px 3px 3px #e6f4f1;
}

input {
    height: 30px;
}

textarea {
    height: 230px;
}

button {
    width: 100px;
    height: 30px;
    background: #fff;
    color: #949fff;
    border-radius: 30px;
}